body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #4a773c; /* Verde campo */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar .toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .toggle-button {
        display: block;
    }
}
